*{
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Public Sans', sans-serif;
}

h1{
    white-space: nowrap;
    font-weight: 700;
    font-size: 30px;
}

p{
    white-space: nowrap;
    font-weight: 300;
    font-size: 17px;
}